{% extends 'audit_base.html' %} {% load bootstrap4 %} {% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="jumbotron jumbotron-fluid bg-dark w-100 p-0 bg-contact justify-content-center">
            <div class="container w-100 text-center jumbo-text">
                <h1 class="display-3 text-white">Request an Audit</h1>
            </div>
        </div>
    </div>
</div>
<div class="container guarantee-container mb-4">
    <div class="row">
        <h5 class="lead p-3 text-center">It’s always a good idea to get a fresh perspective on your network. Our 2 hour Network Audit won’t cost you a penny and the best part is that we will give you the straight scoop—suggestions on how to make your network more productive, efficient and manageable. 90% of our surveys reveal situations that left undetected may have put the respondent’s network at risk.</h5>
    </div>
</div>
<div class="container-fluid sol-body w-70">
    <form class="text-white pb-5" method="post">
        {% csrf_token%} {% bootstrap_form form %}
        <input type="submit" value="Request Audit">
    </form>
</div>
{% endblock %}
