{% extends "base.html" %} {% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="jumbotron jumbotron-fluid bg-dark w-100 p-0 bg-server justify-content-center">
            <div class="container text-center align-middle">
                <h1 class="display-3 text-white tagline">Our Point of View</h1>
            </div>
        </div>
    </div>
</div>
<div class="container guarantee-container mb-4">
    <div class="row">
        <h5 class="p-3 text-justify"> We know that your network is the heart of your business and the core of your operations. We want to stay three steps ahead of potentialities when it comes to supporting our client’s network. We are as responsive and proactive as you specify and are front and center whether we are remote or on location — your choice. We sign up for whatever it takes to be successful with our customers. That’s what we build our business on.</h5>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="card mb-3 bg-transparent">
                <div class="card-body">
                    <div class="text-center mb-2">
                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                    </div>
                    <h4 class="card-title text-center">Reliability and Dependability</h4>
                    <p class="card-text">
                        Communication is key in building a team that our clients can depend on to be on time, in sync and up to date. A comprehensive documentation regime is maintained verifying each and every hour for each and every client.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card mb-3 bg-transparent">
                <div class="card-body">
                    <div class="text-center mb-2">
                        <i class="fa fa-volume-control-phone " aria-hidden="true"></i>
                    </div>
                    <h4 class="card-title text-center">24 Hour Call Back</h4>
                    <p class="card-text text-justify">
                        No matter what the time of day, you can talk to a human and get as fast a response as you require. No more sitting on pins and needles.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card mb-3 bg-transparent">
                <div class="card-body">
                    <div class="text-center mb-2">
                        <i class="fa fa-handshake-o" aria-hidden="true"></i>
                    </div>
                    <h4 class="card-title text-center">Partnership</h4>
                    <br>
                    <p class="card-text text-justify">
                        Our team is dedicated to working with our clients as a member of their team. We respect our client’s preferences and feedback. We want what you want, a smooth path to efficiency, reliability and productivity.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card mb-3 bg-transparent">
                <div class="card-body">
                    <div class="text-center mb-2">
                        <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                    </div>
                    <h4 class="card-title text-center">No Voicemail Frustrations</h4>
                    <p class="card-text text-justify">
                        If you’ve ever felt that you had been left in the twilight zone ”on hold”, then you will welcome our streamlined communication systems. We get to the heart of the matter as quickly and efficiently as possible.</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card mb-3 bg-transparent">
                <div class="card-body">
                    <div class="text-center mb-2">
                        <i class="fa fa-users" aria-hidden="true"></i>
                    </div>
                    <h4 class="card-title text-center">Tight Teamwork</h4>
                    <p class="card-text text-justify">
                        Each technician is part of a bigger circle that they may draw on for resources, knowledge and perspective. Behind each client-facing tech is a team of additional resources.What’s more is that our teams stick together, technician retention rates average 5 years.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}