{% extends "base.html" %} {% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="jumbotron jumbotron-fluid bg-dark w-100 p-0 bg-contact justify-content-center">
            <div class="container w-100 text-center jumbo-text">
                <h1 class="display-3 text-white">Contact Us</h1>
            </div>
        </div>
    </div>
</div>
<div class="card">
  <div class="container-fluid sol-body w-50">
      <form class="text-white pb-5" method="post">
          {% csrf_token%} {% bootstrap_form form %}
          <input type="submit" value="Contact Us">
      </form>
  </div>
</div>
<div class="container mb-4  justify-content-center">
    <div class="row">
        <div class="col-sm">
            <h4>The Simple Solution</h4>
            <br>
            <p class="card-text">
                1052 North 5th Street
                <br> San Jose, CA 95112.
            </p>
        </div>
        <div class="col-sm">
            <h4>The Simple Solution: Sales Office</h4>
            <p class="card-text">
                1060 North 5th Street
                <br> San Jose, CA, 95112
            </p>
        </div>
        <div class="col-sm">
            <h4>Phone</h4>
            <p class="card-text">
                <br> Local calls: <b>408-295-9200</b>
                <br> TOLL-FREE: <b>1-800-99SIMPLE</b>
                <br> Fax: <b>408-295-4724</b>
                <br>
            </p>
        </div>
        <div class="col-sm">
            <h4>Sales and General Information</h4>
            <p class="card-text">
                <a href="mailto:sales@simplesol.com">sales@simplesol.com</a>
                <br> Employment opportunities:
                <a href="mailto:jobs@simplesol.com">jobs@simplesol.com</a>
                <br> Accounting:
                <a href="mailto:accounting@simplesol.com" target="_top">accounting@simplesol.com</a>
                <br> Appointment scheduling:
                <a href="mailto:scheduling@simplesol.com">scheduling@simplesol.com</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
