{% extends "base.html" %} {% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<div class="container-fluid">
    <div class="row">
        <div class="jumbotron jumbotron-fluid bg-alien w-100 p-0 bg-guarantee justify-content-center">
            <div class="container text-center">
                <h1 class="display-3 text-white tagline">Cyber Monitoring</h1>
            </div>
        </div>
    </div>
</div>
<div class="container guarantee-container">
    <div class="row justify-content-center">
        <h4 class="text-center">Security Matters</h4>
    </div>
    <div class="row justify-content-center">
        <h5 class="lead p-4 text-center">
          Rely on us to keep your business safe!
        </h5>
    </div>
    <div class="row justify-content-center">
        <h5 class="lead p-4">
          Protecting your network and data is crucial to your business.
          At The Simple Solution, we have all the experience you need to keep your business safe from cyber intrusion.
          We can monitor activity on your network, check server logs for suspicous activity, and handle any security issues you come across.
          Let us implement and monitor the tools you need to protect the things most important to you, so you can focus on your business.



        </h5>
    </div>
    <div class="row">
        <div class="col-sm">
            <h4 class="mb-3 text-center">Featured Apps</h4>
            <p class="mb-3 text-center">Click to view more</p>
            <ul class="scroll-menu">
                <li pdf_file="\static\alient_vault\AV-ThreatIntelligence.pdf" pdf_thumb="\static\alient_vault\thumbnails\AV-ThreatIntelligence-001.jpg" file_name="AV-ThreatIntelligence.pdf" class="bg-transparent dropdown-item">
                    Threat Intelligence
                </li>
                <li pdf_file="\static\alient_vault\AV-USM.pdf" pdf_thumb="\static\alient_vault\thumbnails\AV-USM-001.jpg" file_name="AV-USM.pdf" class="bg-transparent  dropdown-item">
                    USM
                </li>
                <li pdf_file="\static\alient_vault\usm-plugins-list.pdf" pdf_thumb="\static\alient_vault\thumbnails\usm-plugins-list-001.jpg" file_name="usm-plugins-list.pdf" class="bg-transparent dropdown-item">
                    USM Plugins
                </li>

                <li pdf_file="\static\alient_vault\ds-cisco-umbrella-alien-app.pdf" pdf_thumb="\static\alient_vault\thumbnails\ds-cisco-umbrella-alien-app-001.jpg" file_name="ds-cisco-umbrella-alien-app.pdf" class="bg-transparent dropdown-item">
                    Cisco Umbrella
                </li>
                <li pdf_file="\static\alient_vault\usm-anywhere-plugins-list.pdf" pdf_thumb="\static\alient_vault\thumbnails\usm-anywhere-plugins-list-001.jpg" file_name="usm-anywhere-plugins-list.pdf" class="bg-transparent dropdown-item">
                    USM Anywhere Plugins
                </li>
                <li pdf_file="\static\alient_vault\AlienVault_Data_Sheet_Simplify_Reporting_in_USM_Anywhere.pdf" pdf_thumb="\static\alient_vault\thumbnails\AlienVault_Data_Sheet_Simplify_Reporting_in_USM_Anywhere-001.jpg" file_name="AlienVault_Data_Sheet_Simplify_Reporting_in_USM_Anywhere.pdf" class="dropdown-item bg-transparent">
                    Simplify Reporting
                </li>
                <li pdf_file="/static/alient_vault/alienapps-for-pan-data-sheet.pdf" pdf_thumb="\static\alient_vault\thumbnails\AlienVault-Open-Threat-Exchange-001.jpg" file_name="alienapps-for-pan-data-sheet.pdf" class="dropdown-item bg-transparent">
                    Open Threat Exchange
                </li>
                <li pdf_file="\static\alient_vault\AlienVault-Sensor.pdf" pdf_thumb="\static\alient_vault\thumbnails\AlienVault-Sensor-001.jpg" file_name="AlienVault-Sensor.pdf" class="dropdown-item bg-transparent">
                    Sensor
                </li>
                <li pdf_file="\static\alient_vault\av-success-services.pdf" pdf_thumb="\static\alient_vault\thumbnails\av-success-services-001.jpg" file_name="av-success-services.pdf" class="dropdown-item bg-transparent">
                    Success Services
                </li>
            </ul>
        </div>
        <div class="col-sm justify-content-center m-4">
            <!-- Button trigger modal -->
            <a type="button" class="btn" data-toggle="modal" data-target="#datasheet">
                  <img id="alienappthumb" src="\static\TSSLogoGrey.png" alt="alienvaultthumb" class="img-thumbnail">
              </a>
        </div>
    </div>
</div>
<div class="card bg-transparent " style="width: 20rem;">
    <div class="card-body">
        <!-- Modal -->
        <div class="modal fade bd-example-modal-lg" id="datasheet" tabindex="-1" role="dialog" aria-labelledby="datasheet" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="datasheet"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <embed id="alienapppdf" src="" width="100%;" height="300" type='application/pdf'>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <a id="alienappdownload" class=" btn btn-primary" href="" download="" type="application/pdf">
                        Download PDF
                      </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
$('#myModal').on('shown.bs.modal', function() {
    $('#myInput').focus()

})
</script>
<script>
$(document).ready(function() {

    $("li").click(function() {
        $('#alienappthumb').attr('src', $(this).attr("pdf_thumb"));
        $('#alienapppdf').attr('src', $(this).attr("pdf_file"));
        $('#alienappdownload').attr('href', $(this).attr("pdf_file"));
        $('#alienappdownload').attr('download', $(this).attr("file_name"));
        $('#viewmore').show("fast");
    })
})
</script>
{% endblock %}
