{% extends "base.html" %} {% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="jumbotron jumbotron-fluid bg-dark w-100 p-0 bg-guarantee justify-content-center">
            <div class="container text-center align-middle">
                <h1 class="display-3 text-white tagline">The Simple Guarantee</h1>
            </div>
        </div>
    </div>
</div>
<div class="container guarantee-container mb-4">
    <div class="row">
        <h5 class="lead p-3 text-center">At The Simple Solution, we GUARANTEE the fulfillment of four service commitments to our customers - or they receive 30 days of free service!</h5>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="card mb-3 bg-transparent">
                <div class="card-body">
                    <div class="text-center mb-2">
                        <i class="fa fa-handshake-o" aria-hidden="true"></i>
                    </div>
                    <h4 class="card-title"></h4>
                    <p class="card-text">
                        Sign up for a contract and what you don't use you don't lose. Each unconsumed hour rolls over into a new month, allowing your hours to be used efficiently.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card mb-3 bg-transparent">
                <div class="card-body">
                    <div class="text-center mb-2">
                        <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                    </div>
                    <h4 class="card-title"></h4>
                    <p class="card-text">
                        After the contract expires you have a full 6 months to use any remaining hours.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card mb-3 bg-transparent">
                <div class="card-body">
                    <div class="text-center mb-2">
                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                    </div>
                    <h4 class="card-title"></h4>
                    <p class="card-text">
                        Enjoy the economies of scale, sign up for a contract and your hours are automatically discounted depending upon the contract level you select. Our service rates are competitive and flexible to meet your objectives.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card mb-3 bg-transparent">
                <div class="card-body">
                    <div class="text-center mb-2">
                        <i class="fa fa-tachometer" aria-hidden="true"></i>
                    </div>
                    <h4 class="card-title"></h4>
                    <p class="card-text">
                        Automatically included in your service contract are 2 hours per month of auditing and tuning up your network performance. This includes checking for hardware/software errors and verifying nightly data back-up routines.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}