{% extends "base.html" %} {% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="jumbotron jumbotron-fluid bg-dark w-100 p-0 bg-guarantee justify-content-center">
            <div class="container text-center align-middle">
                <h1 class="display-3 text-white tagline">The Simple Guarantee</h1>
            </div>
        </div>
    </div>
</div>
<div class="container guarantee-container mb-4">
    <div class="row justify-content-center">
        <h5 class="lead p-3 ">At The Simple Solution, nothing is more important to us than your satisfaction.  We GUARANTEE the fulfillment of four service commitments to our customers - or they receive 30 days of free service!</h5>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="card mb-3 bg-transparent">
                <div class="card-body">
                    <div class="text-center mb-2">
                        <i class="fa fa-handshake-o" aria-hidden="true"></i>
                    </div>
                    <h4 class="card-title"></h4>
                    <p class="card-text">
                        Sign up for a contract and what you don't use you don't lose. Each unconsumed hour rolls over into the next month, allowing you to get the most out of your contract with us.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card mb-3 bg-transparent">
                <div class="card-body">
                    <div class="text-center mb-2">
                        <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                    </div>
                    <h4 class="card-title"></h4>
                    <p class="card-text">
                        After the contract expires you have a full 6 months to use any remaining hours.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card mb-3 bg-transparent">
                <div class="card-body">
                    <div class="text-center mb-2">
                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                    </div>
                    <h4 class="card-title"></h4>
                    <p class="card-text">
                        Multiple contract options to suit your specific needs.
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card mb-3 bg-transparent">
                <div class="card-body">
                    <div class="text-center mb-2">
                        <i class="fa fa-tachometer" aria-hidden="true"></i>
                    </div>
                    <h4 class="card-title"></h4>
                    <p class="card-text">
                    We WILL resolve your issue.  We are confident that our technicians can deal with any issue you bring to us, and we won't quit until you are satisfied with the resolution.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
